{% extends 'header_footer.html' %}
{% block content %}
    <section>
        <div class="information">
            <form method="Post" action="{{url_for('activateFolder')}}"></form>
            <div class = "message">
                Liste des fichiers dans le Dossier Source :         
            </div>
            <br>
            <div class="tab"> 
                {{data | safe}} 
            </div>
            <br>
            <div class = "message">
                {% if historySrc %}
                    Historique d'actualisation du Dossier Source :
                    {% for hist in historyActivate :%}
                        {% print (hist) %} <br>
                    {% endfor %}
                {% endif %}
            </div> 
            <div>
                <a class="links"  href="{{url_for('activateDetails')}}">Retour à la synchronisation </a> <br>
            </div>
        </div>
    </section>
{% endblock %}