{% extends 'header_footer.html' %}
{% block content %}
    <section>
        <form method="Post" action="{{url_for('synchronizeFolderExt')}}"></form>
        <div class = "information">
            <div class="message"> <b>Les dossiers sont synchronisés avec l'extention {{extension}}</b> <br> <br>
                <p> {% if historyUpdateDestExt %}  
                        <div class="history">                   
                            Historique d'actualisation du dossier destination : <br> <br>
                            {% for hist in historyUpdateDestExt :%}
                                {% print (hist) %} <br>
                            {% endfor %}
                        </div>    
                    {% endif %}
                </p>
            </div>
            <br>
            <div class = "message"> 
                Liste des fichiers dans le Dossier Source :
            </div>
            <div class="tab"> 
                {{dataSrcExt | safe}} 
            </div> 
            <br>
            <div class = "message">
                Liste des fichiers dans le Dossier Destination :
            </div>
            <div class="tab"> 
                {{dataDestExt | safe}}
            </div>
        </div>  
    </section>
{% endblock %}